* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2, h3 {
    font-size: 30px;
}


#about-me, #work, #contact-me {
  padding: 2%;
}

.title {
    padding-left: 5rem;
    text-align: center;
    vertical-align: middle;
}

.navbar-end {
    padding-right: 5rem;
    text-align: center;
    vertical-align: middle;
}

.work-content-right {
    display: inline-flex;
    flex-wrap: wrap;
}

.column.is-2 {
    border-right: solid;
    border-width: 3px;
}

.column.is-10 {
    padding-left: 5%;
}

.container {
    width: 100vw;
}

.big-work-image {
    position: relative;
    /* scale: 100%; */
}

.small-work-image0 
.small-work-image1,
.small-work-image2 {
    position: relative;
    /* scale: 50%; */
}

.big-work-title {
    position: absolute;
    top: 40%;
    background-color: #28232375;
    color: white;
  }

.small-work-title0 {
    position: absolute;
    top: 66%;
    background-color: #28232375;
    color: white;
}

.small-work-title1 {
    position: absolute;
    top: 66%;
    right: 32.75%;
    background-color: #28232375;
    color: white;
}

.small-work-title2 {
    position: absolute;
    top: 91%;
    background-color: #e3e3e375;
    color: white;
}

@media (max-width: 768px) {
   h2 {
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
    }

    .column.is-2 {
        border: none;
        border-bottom: solid;
        margin: 4%;
    }
}