* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2, h3 {
    font-size: 30px;
}

footer {
    text-align: center;
}

#about-me, #work, #contact-me {
  padding: 2%;
}

.contact-links {
    margin-right: 8rem;
    font-size: 20px;
}

.title {
    padding-left: 5rem;
}

.navbar-end {
    padding-right: 5rem;
    text-align: center;
    vertical-align: middle;
}

.content-right {
    padding-right: 5%;
}

.column.is-2 {
    border-right: solid;
    border-width: 3px;
    padding-right: 4%;
}

.column.is-10 {
    padding-left: 5%;
}

.container {
    width: 100vw;
}

.nami-work {
    position: relative;
}

.horiseon-work 
{
    position: relative;
}

.pre-work {
    position: relative;
}

.weather-work {
    position: relative;
}

.moodvie-work {
    position: relative;
}

/* .nami-work:hover {
    opacity: 1;
    transition: 2s;
    cursor: pointer;
} */

.nami-title {
    position: absolute;
    top: 80%;
    background-color: #28232375;
    color: white;
    display: block;
  }

.horiseon-title {
    position: absolute;
    top: 70%;
    background-color: #2823239b;
    color: white;
}

.pre-work-title {
    position: absolute;
    top: 70%;
    background-color: #28232375;
    color: white;
}

.weather-title {
    position: absolute;
    top: 72%;
    background-color: #28232375;
    color: white;
}

.moodvie-title {
    position: absolute;
    top: 72%;
    background-color: #e3e3e375;
    color: white;
}

.small-work {
    display: inline-flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
   h2 {
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
    }

    .column.is-2 {
        border: none;
        border-bottom: solid;
        margin: 4%;
    }

    .contact-links {
        margin-right: 0;
        display: block;
        text-align: center;
    }

    .content-right {
        text-align: center;
    }
}